<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>odavad kõrred</title>
</head>
<body>
  <img src="images/vp_banner_2025_TA.jpg" alt="bänner">
  <h1> odavad kõrred</h1>
  <p>kõige odavamad <a href="https://www.kors.ee">kõrred</a></p>
  
  <hr>
  <ul>
	  <li><a href="/timenow">AEG</a></li>
	  <li><a href="/vanasonad">vanasonad</a></li>
  	<li><a href="/regvisit">Pane oma külastus kirja</a></li>
	  <li><a href="/visitlog">Vaata külastusi</a></li>
	  <li><a href="/Eestifilm">Eesti film</a></li>
    <li><a href="/galleryphotoupload">Pildi üleslaadimine</a></li>
    <li><a href="/photogallery">Galerii</a></li>
  </ul>
    <h2>Uusim avalik foto</h2>
    <img src="<%= imgFile %>" alt="<%= imgAlt %>">
</body>
</html>