<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>odavad kõrred</title>
</head>
<body>
  <img src="images/vp_banner_2025_TA.jpg" alt="bänner">
  <h1> odavad kõrred</h1>
  <p>kõige odavamad <a href="https://www.kors.ee">kõrred</a></p>
  
  <hr>
	<ul>
		<li><a href="/">Avaleht</a></li>
		</ul>
	<hr>
	<h2>Pane end külastajana kirja</h2>
	<form method = "post">
		<label for="nameInput">Nimi</label>
		<input id ="nameInput" type="text" name="nameInput" placeholder="Kirjuta siia oma nimi...">
		<br>
		<input id ="regSubmit" type="submit" name="reqSubmit" value="Salvesta">
	</form>
	</body>
</html<